<div class="main-container">
    <div id="editor"></div>
</div>

<script type="importmap">
    {
        "imports": {
            "ckeditor5": "/ckeditor/ckeditor5/ckeditor5.js",
            "ckeditor5/": "/ckeditor/ckeditor5/"
        }
    }
</script>

<script type="module" src="/ckeditor/main.js"></script>
