<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= typeof title !== 'undefined' ? title : 'Сборник инструкции за действие при инциденти с опасни товари' %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/ckeditor/ckeditor5/ckeditor5.css">  
</head>
<body>
    <div class="header">
        <h1>Сборник инструкции за действие при инциденти с опасни товари</h1>
        <nav>
            <span>Търси по: </span>
            <a href="/">Наименование или ООН номер на в-во</a> |
            <a href="/search/plate">Табели</a> |
            <a href="/search/dangerNumber">Код на опасност</a>
        </nav>
    </div>
    <div class="footer">
        <p>&copy; 2026 Действие при инциденти с опасни товари</p>
    </div>

    <div class="main">
        <%- body %>
    </div>    

    <!-- <script src="/js/script.js"></script> -->
</body>
</html>