<div class="container">
    <h1>Add New Instruction</h1>
    <form id="instructionForm">
        <div class="form-group">
            <label for="number">Number</label>
            <input type="text" id="number" name="number" required>
        </div>
        
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" required>
        </div>

        <div class="form-group">
            <label for="editor">Content</label>
            <%- include("./partials/editor.ejs")  %>
        </div>

        <button type="submit">Save Instruction</button>
    </form>
</div> 

<script>
    let editor;
    window.onload = function() {
        let domEditableElement = document.querySelector( '.ck-editor__editable_inline' ); 
        editor = domEditableElement.ckeditorInstance;
    };

    document.getElementById('instructionForm').addEventListener('submit', async (e) => {
        e.preventDefault();        
        const number = document.getElementById('number').value;
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        let content = editor.getData();
        let contentBase64 = btoa(encodeURIComponent(content));

        try {
            const response = await fetch('/api/addInstruction', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 
                    number: number,
                    title: title, 
                    description: description,
                    content: contentBase64
                })
            });
            
            if (response.ok) {
                let instruction = await response.json();
                window.location.href = `/getShowInstructionPage/${instruction._id}`;
            }
        } catch (error) {
            console.error('Error:', error);
        }

    }); 
</script>