<h1>Home</h1>
<div class="dashboardContainer">
    <div>
        <a href="/admin/instructions/add">Add New Instruction</a>
    </div>

    <div>
        <a href="/admin/instructions">List Instructions</a>
    </div>

    <div>
        <a href="/admin/substances">List Substances</a>
    </div>

    <div>
        <a href="/admin/exportData">Export data</a>
    </div>
</div>
