
<div class="dashboardContainer">
    <h2>Dashboard</h2>
    <div>
        <a href="/admin/instructions/add">Add New Instruction</a>
    </div>

    <div>
        <a href="/admin/instructions">List Instructions</a>
    </div>

    <div>
        <a href="/admin/substances">List Substances</a>
    </div>

    <div>
        <a href="/admin/data/export">Export data</a>
    </div>

</div>
