<div class="container">
    <h1>Add New Instruction</h1>
    <form id="instructionForm">
        <div class="form-group">
            <label for="number">Number</label>
            <input type="number" id="number" name="number" required>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" required>
        </div>

        <div class="form-group">
            <label for="editor">Content</label>
            <div id="editor"></div>
        </div>

        <button type="submit">Save Instruction</button>
    </form>
</div>

<script>
    const quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: 
            [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
                ['link', 'image', 'video', 'formula'],
                
                // [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],

                ['clean']                                         // remove formatting button
            ]
            // [
            //     ['bold', 'italic', 'underline'],
            //     ['image', 'code-block'],
            //     [{ 'list': 'ordered'}, { 'list': 'bullet' }]
            // ]
        }
    });

    document.getElementById('instructionForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        
        const number = document.getElementById('number').value;
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const _id = instruction._id;
        
        
        let content = JSON.stringify(quill.getContents());
        let contentBase64 = btoa(encodeURIComponent(content));

        try {
            const response = await fetch('/api/updateInstruction', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 
                    _id: _id,
                    number: number,
                    title: title, 
                    description: description,
                    content: contentBase64
                })
            });
            
            if (response.ok) {
                // document.getElementById('instructionForm').reset();
                // quill.setContents(JSON.parse(content));
                let instruction = await response.json();
                window.location.href = `/getShowInstructionPage/${instruction._id}`;
            }
        } catch (error) {
            console.error('Error:', error);
        }

    });

    let instruction = '<%- JSON.stringify(instruction) %>';
    instruction = JSON.parse(instruction);
    document.getElementById('number').value = instruction.number;
    document.getElementById('title').value = instruction.title;
    document.getElementById('description').value = instruction.description;

    let c = '<%-instruction.content%>';
    let utfC = decodeURIComponent(atob(c));
    const content = JSON.parse(utfC); 
    quill.setContents(content); 


    function arrayBufferToBase64( buffer ) {
        var binary = '';
        var bytes = new Uint8Array( buffer );
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode( bytes[ i ] );
        }
        return window.btoa( binary );
    }

    function base64ToArrayBuffer(base64) {
        var binary_string =  window.atob(base64);
        var len = binary_string.length;
        var bytes = new Uint8Array( len );
        for (var i = 0; i < len; i++)        {
            bytes[i] = binary_string.charCodeAt(i);
        }
        return bytes.buffer;
    }
</script>