<h3>Export data</h3>
<p>Instructions: <span style="font-weight: 900;" id="instructions"></span></p>
<p>Substances:  <span style="font-weight: 900;" id="substances"></span></p>
<input type="button" onclick="download(data)" value="Download">

<script>
    let data;

    window.onload = () => {
        data = { 
            substances: decodeURI(atob('<%- substances %>')), 
            instructions: decodeURI(atob('<%- instructions %>'))
        };

        document.querySelector("#instructions").innerHTML = JSON.parse(data.instructions).length;
        document.querySelector("#substances").innerHTML = JSON.parse(data.substances).length;
    }

    const download = (data) => {
        
        const blob = new Blob([JSON.stringify(data)], { type: 'application/json' });
        const url = URL.createObjectURL(blob);

        const a = document.createElement('a');
        a.href = url;
        a.download = 'data.json';
        a.click();
    }    
</script>