<h3>Export data</h3>



<script>
    const download = (data) => {
        // Create a Blob with the CSV data and type
        const blob = new Blob([data], { type: 'application/json' });
        
        // Create a URL for the Blob
        const url = URL.createObjectURL(blob);
        
        // Create an anchor tag for downloading
        const a = document.createElement('a');
        
        // Set the URL and download attribute of the anchor tag
        a.href = url;
        a.download = 'data.json';
        
        // Trigger the download by clicking the anchor tag
        a.click();
    }

    download(JSON.stringify({ 
        substances: decodeURI(atob('<%- substances %>')), 
        instructions: decodeURI(atob('<%- instructions %>'))
    }));
    
</script>