<h3>Търсене по наименование или код по ООН</h3>

<div class="searchContainer">
    <div id="substanceCombo" data-substances="<% decodeURI(atob(substances)) %>" class="dropDown_text">
        <input id="textSubstance" class="text" type="text" autofocus>
        <div class="dropDown">
        </div>
    </div>
    <div class="nameBg">
        <span id="nameBg"></span>
    </div>
    <div class="nameEn">
        <span id="nameEn"></span>
    </div>
    <div class="unNumber">
        <span>Код по ООН:</span>
        <span id="unNumber"></span>
    </div>
    <div class="hazardClass">
        <span>Клас:</span>
        <span id="hazardClass"></span>
    </div>
    <div class="dangerNumber hidden">
        <span>Код на опасност:</span>
        <span id="dangerNumber"></span>
    </div>
    <div class="dangers hidden">
        <span id="dangers"></span>
    </div>
    <div class="imagesContainer">
        <div class="images">            
        </div>
    </div>
    <div class="description hidden">
        <span>Описание:</span>
        <span id="description"></span>
    </div>
    <div class="dangerAnotations">
        <div class="polimerization hidden"><span>Склонност към полимеризация</span></div>
        <div class="reactsWithWater hidden"><span>Реагира с вода</span></div>
        <div class="reactionProduct hidden"><span>Продукт на реакцията: </span><span class="name"></span></div>
    </div>
    <div class="distances hidden">
        <h4>Евакуация при инцидент с изтичане</h4>
        <div class="distanceTable">
            <div class="theader smallLeakHeader">Малък разлив (м)</div>
            <div class="theader bigLeakHeader">Голям разлив (м)</div>
            <div class="theader initialDistanceHeader">Първоначално</div>
            <div class="theader dayDistanceHeader">Денем</div>
            <div class="theader nightDistanceHeader">Нощем</div>            
            <div class="smallLeak initialDistance"></div>
            <div class="smallLeak dayDistance"></div>
            <div class="smallLeak nightDistance"></div>
            <div class="bigLeak initialDistance"></div>
            <div class="bigLeak dayDistance"></div>
            <div class="bigLeak nightDistance"></div>
        </div>
    </div>
    <div class="instruction hidden">
        <h4 class="description">ИНСТРУКЦИЯ</h4>
        <div id="content" class="ck-content"></div>
    </div>

</div>

<script src="/modules/imageCodes.js"></script>
<script src="/modules/hazardCodes.js"></script>
<script >   

    window.onload = () => {
        let elm = document.querySelector("#substanceCombo .text");
        elm.oninput = async (event) => {
            let dropDownElement = document.querySelector("#substanceCombo .dropDown");
            dropDownElement.innerHTML = "";
            if(elm.value.length > 3) {
                
                let substances = await loadItems(elm.value);
                if(substances.length > 0){
                    substances.forEach(element => {
                        const item = document.createElement("div");
                        item.classList.add("item");
                        item.setAttribute("tabindex", "0");
                        item.setAttribute("data-substance", btoa(encodeURI(JSON.stringify(element))));
                        item.setAttribute("onclick", "selectItem(this)");

                        const span1 = document.createElement("span");
                        span1.classList.add("bold");
                        span1.innerHTML = element.unNumber + ", ";
                        const span2 = document.createElement("span"); 
                        span2.innerHTML = element.nameBg;

                        item.appendChild(span1);
                        item.appendChild(span2);
                        
                        dropDownElement.appendChild(item)
                    });
                    dropDownElement.classList.add("open");
                }
                else {
                    dropDownElement.classList.remove("open")
                }
            }
            else {
                dropDownElement.classList.remove("open")
            }
        }
    }

    async function loadItems(text) {
        try {
            let result = await fetch("/getSubstance/"+text, {
                method: "GET"
            });
            let substances = await result.json();
            substances = decodeURI(atob(substances.substances));
            substances = JSON.parse(substances);
            return substances;
        }
        catch (error) {
            console.error("Error loading substances:", error);
            return [];
        }
    }

    async function loadInstruction(text) {
        try {
            let result = await fetch("/getInstruction/"+text, {
                method: "GET"
            });
            let instruction = await result.json();
            return instruction;
        }
        catch (error) {
            console.error("Error loading instruction:", error);
            return [];
        }
    }

    let selectedSubstance;

    async function selectItem(element) {
        let substance = await JSON.parse(decodeURI(atob(element.dataset.substance))); 
        setSelectedSubstance(substance);
        let dropDownElement = document.querySelector("#substanceCombo .dropDown");
        dropDownElement.classList.remove("open")
        dropDownElement.innerHTML = "";

        let instruction = await loadInstruction(substance.instruction); 
        let content = decodeHtml(decodeURIComponent(atob(instruction.content))); 
        
        if(instruction !== null && typeof instruction !== 'undefined') {
            document.querySelector(".instruction #content").innerHTML = content;
            document.querySelector(".instruction .description").innerHTML = instruction.description;
            document.querySelector(".instruction").classList.remove("hidden");
        } else {
            document.querySelector(".instruction #content").innerHTML = "";
            document.querySelector(".instruction .description").innerHTML = "";
            document.querySelector(".instruction").classList.add("hidden"); 
        }
    }
    
    const decodeHtml = (html) => {
        const txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    };

    function setSelectedSubstance(substance) {
        selectedSubstance = substance;       
        if(typeof selectedSubstance.nameBg !== 'undefined' && selectedSubstance.nameBg !== null) {
            document.querySelector("#nameBg").classList.remove('hidden');
            document.querySelector("#nameBg").innerHTML = selectedSubstance.nameBg;
        } else {
            document.querySelector("#nameBg").classList.add('hidden');
            document.querySelector("#nameBg").innerHTML = '';
        }
        
        document.querySelector("#nameEn").innerHTML = selectedSubstance.nameEn;
        document.querySelector("#unNumber").innerHTML = selectedSubstance.unNumber;
        if(selectedSubstance.description !== null && typeof selectedSubstance.description !== 'undefined') {
            document.querySelector(".description").classList.remove('hidden');            
            document.querySelector("#description").innerHTML = selectedSubstance.description;
        } else {
            document.querySelector(".description").classList.add('hidden');
            document.querySelector("#description").innerHTML = "";
        }
        
        document.querySelector("#hazardClass").innerHTML = selectedSubstance.hazardClass;

        if(selectedSubstance.dangerNumber !== null && typeof selectedSubstance.dangerNumber !== 'undefined') {
            document.querySelector(".dangerNumber").classList.remove('hidden');   
            document.querySelector("#dangerNumber").innerHTML = selectedSubstance.dangerNumber;   
            document.querySelector(".dangers").classList.remove('hidden');
            document.querySelector("#dangers").innerHTML = getHazardDescription(selectedSubstance.dangerNumber);
        } else {
            document.querySelector(".dangerNumber").classList.add('hidden');
            document.querySelector("#dangerNumber").innerHTML = '';
            document.querySelector(".dangers").classList.add('hidden');
            document.querySelector("#dangers").innerHTML = '';
        }
        
        
        if(selectedSubstance.reactsWithWater && 
        selectedSubstance.reactionProduct !== null && 
        typeof selectedSubstance.reactionProduct !== 'undefined') {
            document.querySelector(".reactsWithWater").classList.remove("hidden");
            document.querySelector(".reactionProduct").classList.remove("hidden");
            document.querySelector(".reactionProduct .name").innerHTML = selectedSubstance.reactionProduct;
        } else {
            document.querySelector(".reactsWithWater").classList.add("hidden");
            document.querySelector(".reactionProduct").classList.add("hidden");
            document.querySelector(".reactionProduct .name").innerHTML = ""
        }

        if(selectedSubstance.reactsWithWater) {
            document.querySelector(".polimerization").classList.remove("hidden"); 
        } else {
            document.querySelector(".polimerization").classList.add("hidden");
        }
        
        document.querySelector("#substanceCombo .text").value = selectedSubstance.nameBg;
        let imgs = [];
        fillImages(imgs, selectedSubstance);
        document.querySelector(".imagesContainer .images").innerHTML = "";
        imgs.forEach(img => {
            let imgElement = document.createElement("img");
            imgElement.src = "/img/plates/" + img;
            imgElement.alt = selectedSubstance.nameBg;
            imgElement.classList.add("plateImage");
            document.querySelector(".imagesContainer .images").appendChild(imgElement);
        });

        if(selectedSubstance.isToxic) {
            document.querySelector(".distances").classList.remove("hidden");
            document.querySelector(".smallLeak.initialDistance").innerHTML = selectedSubstance.smallSpillInitialIsolationDistance.$numberDecimal;
            document.querySelector(".smallLeak.dayDistance").innerHTML = selectedSubstance.smallSpillProtectiveActionDayDistance.$numberDecimal;
            document.querySelector(".smallLeak.nightDistance").innerHTML = selectedSubstance.smallSpillProtectiveActionNightDistance.$numberDecimal;
            document.querySelector(".bigLeak.initialDistance").innerHTML = selectedSubstance.largeSpillInitialIsolationDistance.$numberDecimal;
            document.querySelector(".bigLeak.dayDistance").innerHTML = selectedSubstance.largeSpillProtectiveActionDayDistance.$numberDecimal;
            document.querySelector(".bigLeak.nightDistance").innerHTML = selectedSubstance.largeSpillProtectiveActionNightDistance.$numberDecimal;
        } else {
            document.querySelector(".distances").classList.add("hidden");
            document.querySelector(".smallLeak.initialDistance").innerHTML = "";
            document.querySelector(".smallLeak.dayDistance").innerHTML = "";
            document.querySelector(".smallLeak.nightDistance").innerHTML = "";
            document.querySelector(".bigLeak.initialDistance").innerHTML = "";
            document.querySelector(".bigLeak.dayDistance").innerHTML = "";
            document.querySelector(".bigLeak.nightDistance").innerHTML = "";
        }
    }

    function fillImages(imgs, substance) {
        imageCodes.forEach(code => {
            if(code.class === substance.hazardClass && code.class.length > 1) {
                imgs.push(code.image)
            }

            if(code.class === substance.hazardClass && code.class.length === 1) {
                if(substance.hazardSubclass.includes(code.subclass)){
                    imgs.push(code.image)
                }
            }
        });
    }

    function getHazardDescription(hazardCode) {
        let description = "";
        hazardCodes.forEach(code => {
            if(code.number === hazardCode) {
                description = code.description;
            } 
        });

        return description;
    }

    /*
    substances.forEach(substance => {
            let imgs = [];
            fillImages(imgs, substance);
            substance.imgs = imgs;
        });
    function fillImages(imgs, substance) {
        ImageCodes.forEach(code => {
            if(code.class === substance.hazardClass && code.class.length > 1) {
                imgs.push(code.image)
            }

            if(code.class === substance.hazardClass && code.class.length === 1) {
                if(substance.hazardSubclass.includes(code.subclass)){
                    imgs.push(code.image)
                }
            }
        });
    }
    */
</script>