<h1>Home</h1>
<div>
    <a href="/getAddInstructionPage">Add New Instruction</a>
</div>

<div>
    <a href="/getListInstructionsPage">List Instructions</a>
</div>


<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CKEditor 5 - Quick start ZIP</title>
		<link rel="stylesheet" href="/ckeditor/ckeditor5/ckeditor5.css"> 
		<style>
			.editor-container, #content{
				width: 795px;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>
	<body>
        <h1>Hi</h1>
        
		<div class="main-container">
			<div id="editor">
			</div>
		</div>

        <script type="importmap">
            {
                "imports": {
                    "ckeditor5": "/ckeditor/ckeditor5/ckeditor5.js",
                    "ckeditor5/": "/ckeditor/ckeditor5/"
                }
            }
        </script>

        <script type="module" src="/ckeditor/main.js"></script>

        <div id="content" class="ck-content">

        </div>
		
        <script>
            window.onload = function() {
                let contentDiv = document.getElementById('content');
                contentDiv.innerHTML = '<p>This is some sample content added to the content div.</p>'; 
                const domEditableElement = document.querySelector( '.ck-editor__editable_inline' ); 
                const editor = domEditableElement.ckeditorInstance; 
                editor.model.document.on( 'change', () => {
                    contentDiv.innerHTML = editor.getData();
                } );
            };
        </script>
	</body>
</html> -->
