<div id="editor" style="height: auto;"></div>


<script> 
    const quill = new Quill('#editor', 
    {
        // theme: 'snow',
        // modules: {
        //     toolbar: [
        //         ['bold', 'italic', 'underline'],
        //         ['image', 'code-block'],
        //         [{ 'list': 'ordered'}, { 'list': 'bullet' }]
        //     ]
        // }
    });

    let c = '<%-content%>';
    let utfC = decodeURIComponent(atob(c));
    const content = JSON.parse(utfC); 
    quill.setContents(content); 
    
    quill.enable(false); // make editor read-only

    function arrayBufferToBase64( buffer ) {
        var binary = '';
        var bytes = new Uint8Array( buffer );
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode( bytes[ i ] );
        }
        return window.btoa( binary );
    }

    function base64ToArrayBuffer(base64) {
        var binary_string =  window.atob(base64);
        var len = binary_string.length;
        var bytes = new Uint8Array( len );
        for (var i = 0; i < len; i++)        {
            bytes[i] = binary_string.charCodeAt(i);
        }
        return bytes.buffer;
    }
</script>