body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

.header, .footer {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.header {
    grid-row: 1;
}

.footer {
    grid-row: 3;
}

.main {
    grid-row: 2;
    overflow-y: auto;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.instructionCard {
    background: #ffebcd;
    border: 1px solid #ffc46c;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.substanceCard {
    background: rgb(228, 228, 228);
    border: 0px solid rgb(145, 145, 145);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.substanceCard p {
    padding: 0 10px;
    margin: 5px 5px;
    word-break: break-all;
}

.substanceCard .reactsWithWater {
    color: white;
    padding: 10px;
    background-color: rgb(178, 65, 65);
}

.substanceCard .polimerization {
    color: white;
    padding: 10px;
    background-color: rgb(0, 8, 162);
}

.substanceCard .isToxic {
    color: white;
    padding: 10px;
    background-color: rgb(54, 54, 54);
}

.image img{
    display: inline;
    width: 100px;
    height: 100px;
}

/* editing fields */
.container { max-width: 800px; margin: 20px auto; }
.form-group { margin-bottom: 20px; }
label { display: block; margin-bottom: 5px; font-weight: bold; }
input[type="text"] { width: 100%; padding: 8px; box-sizing: border-box; }
#editor { height: 300px; }
button { padding: 10px 20px; background: #0366d6; color: white; border: none; cursor: pointer; }
button:hover { background: #0256c7; }
.editor-container, #content { width: 795px; margin-left: auto; margin-right: auto; }





.searchContainer {
    font-size: 16pt;
    margin: 20px auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;    
    justify-items: left;
    align-items: top;
}

#substanceCombo {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.unNumber {
    font-size: 14pt;
    grid-row: 1;
    grid-column: 3;
    align-content: self-center;
}

.nameBg {
    grid-row: 2;
    grid-column: 1 / span 3;
}

.nameEn {
    grid-row: 3;
    grid-column: 1 / span 3;
}

.description {
    grid-row: 4;
    grid-column: 1 / span 3;
}

.imagesContainer {
    grid-row: 5;
    grid-column: 1 / span 2;
}

.hazardClass {
    display: inline-block;
    grid-row: 5;
    grid-column: 3;
}

.dangerNumber {
    grid-row: 6;
    grid-column: 1;
}

.dangers {
    grid-row: 6;
    grid-column: 2 / span 2;
}

.dropDown_text {
    width: 100%;
    display: inline-block;
}

.dropDown_text .text {
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

.dropDown_text .dropDown{
    display: none;
    margin-top: 1px;
    padding: 3px;
    border: 1px grey solid; 
    max-height: 300px;
    overflow-y: auto;
}

.dropDown_text .dropDown.open{
    display: block;
}

.dropDown .item {
    padding: 4px;
    cursor: pointer;
    border-bottom: 1px dashed darkgrey;
}

.dropDown .item:hover {
    background-color: #ffc46c;
}

.plateImage {
    display: inline;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.hidden {
    display: none;
}